<h1><%= @category.name %></h1>

<!-- Add code here to list a category's posts. -->
<!-- What is pluralize method??? -->
<h3> <%= pluralize(@category.posts.count, "Post") %> </h3>
<ul>
<!-- posts in this case is a CollectionProxy -->
  <% @category.posts.each do |p| %>
     <li> <%= link_to p.title, p %> </li>
  <% end %>
</ul>